#LandingView {
  min-height: 100vh;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.maintext {
  align-self: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#name {
  font-weight: 600;
  font-size: 5.3rem;
  color: var(--headingColor);
}
.about {
  font-size: 1.3rem;
  width: 10vw;
  padding: 0rem 4rem;
  margin: 0 auto;
}
.links {
  display: flex;
  justify-content: center;
}
#githubImg {
}
