.LandingView {
  min-height: 100vh;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.maintext {
  align-self: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
#name {
  font-weight: 600;
  font-size: 5.3rem;
  color: var(--headingColor);
}
.about {
  font-size: 1.3rem;
  width: 20%;
  padding: 0rem 2rem;
  margin: 0 30px;
}
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#lastDiv {
  align-self: center;
  cursor: pointer;
}
#downwardArrow {
  margin-bottom: 10vh;
  color: var(--headingColor);
  font-size: 3rem;
}
@media (max-width: 1000px) {
  .maintext {
    flex-direction: column;
  }
  .about {
    width: 60%;
    padding: 0rem 1rem;
    margin: 0px 15px;
  }
}
