.card {
  max-width: 27%;

  background-color: #ededed;
  font-size: large;
  border-radius: 10px;
  padding: 1.3rem;
  margin: 10px;
}
.buttonLink {
  background-color: var(--headingColor);
  color: white;
  padding: 0.4rem 0.5rem;
  border-radius: 7px;
  font-size: medium;
  cursor: pointer;
}
.outsideLinks {
  display: flex;
  justify-content: space-around;
}
.note {
  font-size: 0.9rem;
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 340px) and (max-width: 730px) {
  .card {
    max-width: 90%;
  }
}
@media (max-width: 999px) and (min-width: 731px) {
  .card {
    max-width: 60%;
  }
}
@media (min-width: 1000px) and (max-width: 1436px) {
  .card {
    max-width: 40%;
  }
}
