:root {
  --headingColor: #d62246;
  --buttonColor: #17bebb;
  --cardColor: #d4f4dd;
}
html,
body {
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  scroll-behavior: smooth;
  behavior: smooth;
}
